* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }

  h1 {
      text-align: center;
      margin-top: 50px;
      border: solid;
      border-color: black;
      background-color: seagreen;
      color: white; 
  }

  .startBtn {
      text-align: center;
      padding-top: 33px;
      margin: 10px;   
  }

  .startBtn button {
      font-size: 25px;
      font-weight: 500;
      color: rgb(122, 122, 252);
      padding: 15px 30px;
      outline: none;
      border: none;
      border-radius: 5px;
      background: #333;

  }

  #homepage-text {
      font-weight: 700;
  }

  #introduction {
      font-weight: 700;
  }

  .quiz-box {
      width: 550px;
      background: #fff;
      border-radius: 5px;
  }

  .quiz-box header {
      height: 70px;
      padding: 0 30px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px 5px 0 0;
      box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
      font-size: 25px;
      font-weight: 500;
  }
  quiz-box header .timer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 150px;
      height: 50px;
      background: #333;
      border: 1px solid white;
      border-radius: 5px;
      padding: 0 10px;
  }